<form [formGroup]="group" class="todo mt-4">
  <div class="form-group">
    <input
      [ngClass]="{
        important: group.get('important').value == true,
        completed: group.get('completed').value == true
      }"
      type="email"
      [attr.disabled]="editing ? null : ''"
      formControlName="text"
      class="form-control todo-input"
      [id]="todo._id + '4'"
      placeholder="Todo"
    />
  </div>
  <div class="todo-controls d-flex justify-content-between align-items-center">
    <div class="up form-check ccc">
      <input
        formControlName="important"
        type="checkbox"
        [attr.disabled]="editing ? null : ''"
        class="form-check-input"
        [id]="todo._id + '1'"
      />
      <label class="form-check-label" [for]="todo._id + '1'">Important</label>
    </div>
    <div class="form-check ccc">
      <input
        formControlName="completed"
        [attr.disabled]="editing ? null : ''"
        type="checkbox"
        class="form-check-input"
        [id]="todo._id"
      />
      <label class="form-check-label" [for]="todo._id">Completed</label>
    </div>
    <button
      (click)="deleteTodo()"
      *ngIf="!editing"
      class="btn btn-danger btn-sm p-1 p-sm-2"
    >
      <fa-icon [icon]="faTrash"></fa-icon>
    </button>
    <button
      (click)="updateTodo()"
      *ngIf="editing"
      class="btn btn-warning btn-sm p-1 p-sm-2"
    >
      Update
    </button>
    <button (click)="setEditing()" class="btn btn-primary p-1 p-sm-2">
      <fa-icon [icon]="editing ? faWindowClose : faPenAlt"></fa-icon>
    </button>
  </div>
</form>
