.important {
  background-color: rgb(231, 125, 125) !important;
}

.completed {
  background-color: rgba(163, 162, 162, 0.466) !important;
  text-decoration: line-through;
}

.todo {
  background: rgba(207, 204, 204, 0.76);
  padding: 1rem;
  border-radius: 0.5rem;
}
.ccc {
  display: flex;
  align-items: center;
}

.todo-input {
  background: rgb(180, 189, 194);

  font-weight: bold;
}
