.todo-list {
  max-width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .todo-list {
    max-width: 90%;
  }
}
